salminho moha
<a routerLink="/">myapp</a>

<!-- To: -->
<a routerLink="/">{{ appTitle }}</a>
<header>
  <div class="container">
    <a routerLink="/" class="logo">apptitle</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
      <li>
        <a routerLink="create">
          Add Share
        </a>
      </li>
      <li>
        <a routerLink="index">
          Display Shares
        </a>
      </li>
      </ul>
    </nav>
  </div>
</header>